<!--
<main class="toy-page">

  <article class="toy-item">
    <app-toy></app-toy>
  </article>

</main>
-->
<main class="toy-page">

  <article class="toy-item" *ngFor="let toy of (toyList$ | async)">
    <app-toy
      [toy]="toy"
      (handleRequest)="onSelect($event)"
    >
    </app-toy>
  </article>

</main>
