<!--
<article
  class="toy selected"
  [ngClass]="{selected: toy.selected}"
  onclick=""
>
  <i class="mdi mdi-plane"></i>
</article>
-->
<article
  class="toy"
  [ngClass]="{selected: toy.selected}"
  (click)="select(toy)"
>
  <i class="mdi mdi-{{toy.icon}}"></i>
</article>
