<!--
<header>
  <h1>
    <a>Toy Store</a>
  </h1>

  <aside>
    <a onclick="">
      <i class="mdi mdi-basket"></i>
      <span>3</span>
    </a>
  </aside>

</header>
-->
<header>
  <h1>
    <a [routerLink]="['toys']">Toy Store</a>
  </h1>

  <aside>
    <a (click)="auth()">
      <i class="mdi mdi-basket"></i>
      <span *ngIf="counter$ | async">{{ counter$ | async }}</span>
    </a>
  </aside>

</header>
