<!--
<div class="auth">
  <div class="authContent">

    <a
      class="authContent__close"
      onclick=""
    ><i class="mdi mdi-window-close"></i></a>

    <form onsubmit="" novalidate>

      <p>
        <label for="login">Utilisateur / email</label>
        <input
          type="email"
          name="login"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        >
      </p>

      <p>
        <label for="pass">Mot de passe</label>
        <input
          type="password"
          name="pass"
        >
      </p>

      <p class="authContent--center">
        <button>Connection</button>
      </p>

    </form>
  </div>
</div>
-->
<div class="auth" *ngIf="isOpened$ | async">
  <div class="authContent">

    <a
      class="authContent__close"
      (click)="close()"
    ><i class="mdi mdi-window-close"></i></a>

    <form (submit)="connect()" novalidate #authForm="ngForm">

      <p>
        <label for="login">Utilisateur / email</label>
        <input
          type="email"
          name="login"
          [(ngModel)]="user.login"
          #login="ngModel"
          required
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          autofocus
        >
      </p>

      <p>
        <label for="pass">Mot de passe</label>
        <input
          type="password"
          name="pass"
          [(ngModel)]="user.pass"
          #pass="ngModel"
          required
        >
      </p>

      <p class="authContent--center">
        <button
          [disabled]="!authForm.valid"
        >Connection</button>
      </p>

    </form>
  </div>
</div>
