<!--
<main class="basket">

  <article>
    <i class="mdi mdi-plane"></i>
    <strong>title</strong>
    <i class="mdi mdi-close-circle" onclicm=""></i>
    <span>100€</span>
  </article>

  <aside>
    <strong>Total :</strong>
    <span>100€</span>
  </aside>

  <footer>
    <button>> PAY !</button>
  </footer>

</main>
-->
<main class="basket">

  <article *ngFor="let toy of (toyList$ | async)">
    <i class="mdi mdi-{{toy.icon}}"></i>
    <strong>{{toy.title}}</strong>
    <i class="mdi mdi-close-circle" (click)="delete(toy)"></i>
    <span>{{toy.price | currency:'EUR':'symbol':'1.2-2' }}</span>
  </article>

  <aside>
    <strong>Total :</strong>
    <span>{{price$ | async | currency:'EUR':'symbol':'1.2-2' }}</span>
  </aside>

  <footer>
    <button>> PAY !</button>
  </footer>

</main>
